@{
    ViewBag.Title = "About";
}

<!--==========================
Community Section
============================-->
<section id="community">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Community</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Community Page</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>
                    Community Content.Community Content.Community Content.Community Content.Community Content.Community Content.Community Content.<br><br>
                    Community Content.<br><br>
                    Community Content.Community Content.Community Content.<br><br>
                    Community Content.Community Content.Community Content.<br><br>
                </h3>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#nav-community').addClass('menu-active');
        });
    </script>
}
